<!-- Login Component Template -->
<div class="login-container">
  <h2>Login</h2>
  <form [formGroup]="userCredentials" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Email:</label>
      <input type="email" name="email" formControlName="email" required />
    </div>
    <div class="form-group">
      <label>Password:</label>
      <input
        type="password"
        name="password"
        formControlName="password"
        required
      />
    </div>
    <button type="submit">Login</button>
    <p>not a user <a href="/signup">register here</a></p>
    <br />
    <p>{{ message }}</p>
  </form>
</div>
