<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="date">Date:</label>
        <input type="date" class="form-control" id="date" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="location">Location:</label>
        <input type="text" class="form-control" id="location" />
      </div>
    </div>
  </div>
</div>

<!-- center template -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Center Name: {{ "jbh" }}</h3>
      <p>Address: {{ "jb" }}</p>
    </div>
  </div>
</div>
